#!/usr/bin/env bash

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # macOS `ls`
  colorflag="-G"
fi

# List all files colorized in long format
alias ll="ls -lahF ${colorflag}"
alias mypath="echo $PATH | tr : '\n' | sort"
alias act='source $(PWD)/.venv/bin/activate'
alias dact='deactivate'
alias tf='terraform'
alias cfn='cat $1 | egrep -v "(^#.*|^$)"'
# List all files colorized in long format, including dot files
#alias la="ls -lahF ${colorflag}"

# directory size
alias dsize="du -sh"
# List only directories
alias lsd="ls -lhF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
#export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

#alias py37="/usr/local/bin/python3"
#alias py38="/usr/local/opt/python@3.8/bin/python3.8"
#alias rmcrap='grep -E -v "^#|^$"'
alias utc="TZ=UTC date"
#alias vim="/usr/local/bin/vi"
#export JAVA_8_HOME=$(/usr/libexec/java_home -v1.8)
#export JAVA_9_HOME=$(/usr/libexec/java_home -v9)
#export JAVA_10_HOME=$(/usr/libexec/java_home -v10)
#export JAVA_11_HOME=$(/usr/libexec/java_home -v11)
#export JAVA_12_HOME=$(/usr/libexec/java_home -v12)
#alias java8='export JAVA_HOME=$JAVA_8_HOME'
#alias java9='export JAVA_HOME=$JAVA_9_HOME'
#alias java10='export JAVA_HOME=$JAVA_10_HOME'
#alias java11='export JAVA_HOME=$JAVA_11_HOME'
#alias java12='export JAVA_HOME=$JAVA_12_HOME'
alias bu='brew update'
alias bug='brew upgrade'
alias bd='brew doctor'
alias bcu='brew cleanup'
alias bco='brew cask outdated'
alias bcug='brew cask upgrade'
alias k='kubectl'
alias kge='kubectl get all'
alias kc='kubectl create'
